 /*------第2页-----------国内酒店start*/


  /*目的地推荐start*/
    /*公用*/
.br{border-right: 1px solid #f1f1f1;}
.bt{border-right: 1px solid #f1f1f1;}
.travel_guide{width:1200px;height:274px;margin:20px auto;}  
.travel_guide a{text-decoration: none;}
/*目的地推荐顶部标题 start*/
.travel_title{height: 40px;line-height: 40px;border-bottom:2px solid #77cc11;}
.travel_title a{font-size:24px;color:#77cc11;}
/*目的地推荐顶部标题 end*/
.aim-recommend{margin-top: 18px;}
.aim-recommend li{width:397px;height:86px;float: left;padding-bottom: 10px;border-bottom:1px solid #f1f1f1;}
.aim-recommend li.pt{padding-top: 10px;border-bottom: none;}
.aim-recommend li dl{width:271px;height:80px;/*margin-right: 15px;*/}
.aim-recommend dt{color: #8C2;margin: 3px 0 5px 4px;font-size: 18px;}
.aim-recommend dd:hover{background:#77cc11;}
.aim-recommend dd:hover a{color: #fff;}

.aim-recommend dl dd{height:22px;float: left;font-size: 14px;line-height: 22px;padding:0 5px;margin: 0 5px 4px 0;cursor: pointer;}
.aim-recommend dl a{color: #555;}
.aim-recommend li div{position: relative;}
.aim-recommend li div{width:80px;height:80px;background:url(../img/index/hotel_index_icon.png) no-repeat;margin-left:15px;margin-right: 10px;overflow: hidden;}
.aim-recommend li em{position:absolute;left:0;top:0px;width:80px;height:0px;background:url(../img/index/hotel_index_icon.png) no-repeat;transition:all 0.5s;}
.aim-recommend li:hover div em{height:80px;}
.aim-recommend .bg-rec1{background-position:-255px 0px;}
.aim-recommend .bg-rec2{background-position:-595px 0px;}
.aim-recommend .bg-rec3{background-position:-170px 0px;}
.aim-recommend .bg-rec4{background-position:-340px 0px;}
.aim-recommend .bg-rec5{background-position:-85px 0px;}
.aim-recommend .bg-rec6{background-position:-509px 0px;}

.aim-recommend .bg-rec1 em{background-position:-255px -100px;}
.aim-recommend .bg-rec2 em{background-position:-595px -100px;}
.aim-recommend .bg-rec3 em{background-position:-170px -100px;}
.aim-recommend .bg-rec4 em{background-position:-340px -100px;}
.aim-recommend .bg-rec5 em{background-position:-85px -100px;}
.aim-recommend .bg-rec6 em{background-position:-509px -100px;}

  /*目的地推荐end*/
/*促销特卖会start*/
img {
			vertical-align: middle;
		}
		
		.content-width {
			width: 1200px;
			margin: 0px auto;
		}
		
    	/*下面是目的地指数的样式*/		
		.aim .aim-top {
			width: 100%;
			height: 50px;
			line-height: 50px;
			border-bottom: 2px solid #bb7733;
			margin-bottom: 20px;
		}
		
		.aim-top a {
			font-size: 24px;
			color: #bb7733;
		}
		
		.destination ul {
			padding: 0px;
			margin: 0px;
			list-style: none;
			width: 1220px;
			height: 202px;
			overflow: hidden;
			display: block;
		}
		.destination-mid-pic li {
			width: 295px;
			float: left;
			margin-right: 10px;
			position: relative;
			overflow: hidden;
			border-bottom: 1px solid #ccc;
		}
		
		.destination-mid-pic li:hover {
			border-bottom: 2px solid #bb7733;
		}
		
		.destination-mid-pic li a {
			display: block;
			width: 295px;
			height: 160px;
			overflow: hidden;
		}
		
		.destination-mid-pic li a img {
			width: 295px;
			height: 165px;
			margin-top: 0px;
			transition: all 0.3s ease 0s;
		}
		
		.destination-mid-pic li:hover img {
			margin-top: -5px;
		}
		
		.destination-mid-pic li span {
			font-family: "微软雅黑";
		}
		
		.destination-mid-pic li div {
			width: 200px;
			position: absolute;
			left: 10px;
			top: 60px;
			color: #fff;
			font-size: 16px;
		}
		.destination-mid-pic li div span.tip{
			font-size:25px;
		}
		
		.destination-mid-pic li span.scale_tour {
			display: block;
			width: 100%;
			font-size: 14px;
			color: #555;
			height: 40px;
			line-height: 40px;
			background: #f7f7f7;
			padding-left: 15px;
		}
 /*促销特卖会end*/